*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header{
    background-color: rgb(255, 0, 0);
    padding: 16px 0;
    color: aliceblue;
}



header li{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px ;
}

header li a {
    color: aliceblue;
    text-decoration: none;
}

header li a:hover{
    text-decoration:underline;
    color: black;
}

header h1:hover{
    text-decoration:wavy;
    color: black;
}

.container{
    width: 1260px;
    margin: 0 auto 0 auto;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

article  {
    align-items: right;
}

img{
    float: left;
    margin-right: 24px;

}

.articles .artigo1{
    margin-bottom: 25px;
}


.create-date{
    color: white;
}

#Noticias img{
    width: 150px;
}

#Lançamentos img{
    width: 150px;
    height: 100px;
}

p {
    margin-bottom: 15px;
}

.articles article img{
    width: 90%;
}

section{
    padding: 16px 0;
}

section h2,
.articles article{
    margin-bottom: 16px;
}

.articles article h3{
    margin-top: 8px;
    margin-bottom: 25px;
}

.articles article a{
    background-color: red;
    color: aliceblue;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover{
    text-decoration: underline;
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3{
    font-size: 24px;
}

section h2{
    font-size: 32px;
}

#Lançamentos{
    background-color: black;
    color: aliceblue;
}

#Noticias {
    background-color: black;
    color: aliceblue;
}

section h3{
    margin-bottom: 16px;
}

footer {
    background-color: red;
    color: #ecf0f1;
    padding: 16px 0;
}

.articles img {
    vertical-align: middle;
    width: 50;
   
}

/*.articles, .articles p {
    display:inline-flex;
    align-items:center;
    justify-content:space-between;
}*/